<a href="https://colab.research.google.com/github/suryasaikatari/my-new-repository/blob/main/github_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program 1

In [ ]:
a = 10
b = 20
print(a + b)

30

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(a + b)

Enter first number: 50
Enter second number: 25
75

In [ ]:
with open("add.txt", "w") as f:
    f.write("10 20")
with open("add.txt") as f:
    a, b = map(int, f.read().split())

print(a + b)

30

In [ ]:
with open("add_multi.txt", "w") as f:
    f.write("2 3\n4 5\n6 7")
with open("add_multi.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print(a + b)

5
9
13

program2

In [ ]:
l = 5
b = 4
print(l * b)

20

In [ ]:
l = float(input("Length: "))
b = float(input("Breadth: "))
print(l * b)

Length: 12
Breadth: 2
24.0

In [ ]:
with open("rect.txt", "w") as f:
    f.write("10 5")
with open("rect.txt") as f:
    l, b = map(float, f.read().split())

print(l * b)

50.0

In [ ]:
with open("rect_multi.txt", "w") as f:
    f.write("10 5\n7 4\n6 3")
with open("rect_multi.txt") as f:
    for line in f:
        l, b = map(float, line.split())
        print(l * b)

50.0
28.0
18.0

program3

In [ ]:
n = 10
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
n = int(input("Enter number: "))
print("Even" if n % 2 == 0 else "Odd")

Enter number: 50
Even

In [ ]:
with open("num.txt", "w") as f:
    f.write("10")
with open("num.txt") as f:
    n = int(f.read())

print("Even" if n % 2 == 0 else "Odd")

Even

program 4

In [ ]:
n = 5
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

120

In [ ]:
n = int(input("Enter number: "))
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

Enter number: 5
120

In [ ]:
with open("fact.txt", "w") as f:
    f.write("5")
with open("fact.txt") as f:
    n = int(f.read())
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

120

progrm 5

In [ ]:
nums = [1, 2, 3, 4]
print(sum(nums))

10

In [ ]:
nums = list(map(int, input("Enter numbers: ").split()))
print(sum(nums))

Enter numbers: 12
12

In [ ]:
with open("list.txt", "w") as f:
    f.write("1 2 3 4 5")
with open("list.txt") as f:
    nums = list(map(int, f.read().split()))
print(sum(nums))

15

program 6

In [ ]:
a = 10
b = 20
print(a if a > b else b)

20

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(a if a > b else b)

Enter first number: 5
Enter second number: 4
5

In [ ]:
with open("large.txt", "w") as f:
    f.write("10 25")

with open("large.txt") as f:
    a, b = map(int, f.read().split())
print(a if a > b else b)

25

program 7

In [ ]:
a, b = 10, 20
print(a if a > b else b)

20

In [ ]:
a = int(input())
b = int(input())
print(a if a > b else b)

5
4
5

In [ ]:
with open("large.txt") as f:
    a, b = map(int, f.read().split())
print(a if a > b else b)

25

program8

In [ ]:
nums = [1, 2, 3]
print(sum(nums))

6

In [ ]:
nums = list(map(int, input().split()))
print(sum(nums))

5
5

In [ ]:
with open("list.txt") as f:
    nums = list(map(int, f.read().split()))
print(sum(nums))

15

In [ ]:
with open("list_multi.txt") as f:
    for line in f:
        nums = list(map(int, line.split()))
        print(sum(nums))

FileNotFoundError: [Errno 2] No such file or directory: 'list_multi.txt'

program9

In [ ]:
nums = [1, 2, 3, 4]
print(len(nums))

4

In [ ]:
nums = list(map(int, input().split()))
print(len(nums))

5
1

In [ ]:
with open("count.txt", "w") as f:
    f.write("1 2 3 4 5")
with open("count.txt") as f:
    nums = f.read().split()
print(len(nums))

5

program 10

In [ ]:
n = 5
print(n*n)

25

In [ ]:
n = int(input())
print(n*n)

5
25

In [ ]:
with open("square.txt", "w") as f:
    f.write("5")
with open("square.txt") as f:
    n = int(f.read())
print(n*n)

25